 <div class="container_12">
    <div class="main-inside">
      <div class="row-1">
        <div class="box-shadow">
          <div class="tabs">
            <ul class="tabs-nav">
              <li class="selected"><a class="first" href="#tabs-1">Search Domain</a></li>
              <li class="second"><a  class="second" href="#tabs-2">Features</a></li>
              <li class="last"><a href="#tabs-3">Whois</a></li>
            </ul>
            <div id="tabs-1" class="tab-content">
              <article class="domain">
                <div class="wrapper">
                  <div class="box-1">
                    <div class="txt-3">Step 1</div>
                    <form id="form2" method="POST">
                      <div class="wrapper">
                        <div class="row-input">
                          <textarea this.value=''" onFocus="if(this.value =='' ) this.value=''" name="textarea"></textarea>
                        </div>
                        <div class="checkbox">
                          <div class="col-1">
                            <div class="wrapper">
                              <input type="checkbox" name="chbox">
                              <label>.com</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.mobi</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.eu</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.us.com</label>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="wrapper">
                              <input type="checkbox" name="chbox">
                              <label>.net</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.info</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.co.uk</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.mx</label>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="wrapper">
                              <input type="checkbox" name="chbox">
                              <label>.com</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.mobi</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.eu</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.us.com</label>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="wrapper">
                              <input type="checkbox" name="chbox">
                              <label>.net</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.info</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.co.uk</label>
                            </div>
                            <div class="wrapper p8">
                              <input type="checkbox" name="chbox">
                              <label>.mx</label>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </form>
                    <div class="btns"><a class="button-2">Renew a domain</a> <a onClick="document.getElementById('form2').submit()"  class="button-2 hr">Transfer a domain</a> </div>
                  </div>
                  <div class="box-2">
                    <div class="txt-3">Step 2</div>
                    <a class="link-1" href="#">Check Availability</a>
                    <div class="txt-3">Step 3</div>
                   <div class="overflow relative" ><a class="link-2" href="#">Search Now!</a></div></div> 
                </div>
              </article>
            </div>
            <div id="tabs-2" class="tab-content">
              <p><strong class="color-1">Watch a Demo</strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
              <p><strong class="color-1">Test Drive - See How it Works</strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat males.</p>
              <p><strong class="color-1">View a Sample Store</strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat males.</p>
            </div>
            <div id="tabs-3" class="tab-content">
              <p><strong class="color-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong><br>
                Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
              <p><strong class="color-1">Est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</strong><br>
                Velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. </p>
            </div>
          </div>
        </div>
      </div>
       </div>
       <div class="row-2">
       
        <div class="wrapper relative">
    <article class="grid_8"> 
    
     <h3>Domain Services</h3>
    
    
    <div class="list-domain">
          <div class="wrapper relative m2">
            <article class="grid_4 alpha" >
              <figure><img src="<%= asset_path 'page2-img1.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Private Registration</a></strong><br>
                  Keeps your personal information 
                  private, protecting you from spam, scams and worse.</p>
              </div>
              <div class="clear"></div>
            </article>
            <article class="grid_4 omega" >
              <figure><img src="<%= asset_path 'page2-img2.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Domain Transfers</a></strong><br>
                  Transfer your domains to<br> 
                  Host 5 – it's fast, automated and<br> 
                  risk-free! </p>
              </div>
              <div class="clear"></div>
            </article>
          </div>
          <div class="wrapper relative m4" >
            <article class="grid_4 alpha" >
              <figure><img src="<%= asset_path 'page2-img3.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Internationalized Domain Names</a></strong><br>
                  Register .COM, .NET, .ORG and<br> 
                  other popular domain names in any one of over 100 native 
                  languages.</p>
              </div>
              <div class="clear"></div>
            </article>
            <article class="grid_4 omega">
              <figure><img src="<%= asset_path 'page2-img4.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Domain Backorders</a></strong><br>
                  Secure your chance to register<br>
                  that domain when it becomes 
                  available by backordering it at 
                  special savings.</p>
              </div>
              <div class="clear"></div>
            </article>
          </div>
          <div class="wrapper relative m3">
            <article class="grid_4 alpha" >
              <figure><img src="<%= asset_path 'page2-img5.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">GeoDomainMap Tool</a></strong><br>
                  Quickly search for and register all the available domain names for a particular area or region</p>
              </div>
              <div class="clear"></div>
            </article>
            <article class="grid_4 omega">
              <figure><img src="<%= asset_path 'page2-img6.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Bulk Domain Discounts</a></strong><br>
                  SAVE up to 31% when you register or transfer six or more .COMs at once.</p>
                <p>For an additional fee, you can</p>
              </div>
              <div class="clear"></div>
            </article>
          </div>
          <div class="wrapper relative">
            <article class="grid_4 alpha" >
              <figure><img src="<%= asset_path 'page2-img7.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">$100 in FREE extras!</a></strong><br>
                  The cost of your domain 
                  registration includes a 5-page website with hosting, spam-free email account, blog, photo album and more - all 100% FREE!</p>
              </div>
              <div class="clear"></div>
            </article>
            <article class="grid_4 omega">
              <figure><img src="<%= asset_path 'page2-img8.gif' %> " alt="" /></figure>
              <div class="overflow">
                <p><strong class="color-1"><a href="#">Domain Auctions</a></strong><br>
                  Bid on, buy and sell high-value domains at Auctions</p>
              </div>
              <div class="clear"></div>
            </article>
          </div>
        </div>
    
    </article>
    
    
        
        <article class="grid_3 prefix_1 omega">
          <h3 class="h3">More Domain Services & Tools </h3>
          <ul class="list-3">
            <li><a href="#">WHOIS Business Listing</a></li>
            <li><a href="#">Premium Domain Names</a></li>
            <li><a href="#">Expired Domain Names</a></li>
            <li><a href="#">Certified Offer Service</a></li>
            <li><a href="#">.CO Domains</a></li>
          </ul>
          <h3>Get Your Domain FREE</h3>
          <p>With purchase of any annual <strong class="color-1">website</strong>, <strong class="color-1">hosting</strong> or <strong class="color-1">ecommerce</strong> package. </p>
          <a href="#" class="button"><strong><em>Click Here</em></strong></a> </article>
      </div>
      </div>
   
  </div>
