<ul class="sf-menu">
	<li >
		<a class="active" href="index.html"><img src="<%= asset_path 'img-home.png' %>" alt="" /></a>
	</li>
	<li>
		<a href="index-1.html">DOMAIN NAMES</a>
		<ul>
			<li>
				<%= link_to "Domain Name Search", product_searches_url %>
			</li>
			<li>
				<a href="#">Expired Domains</a>
				<ul>
					<li>
						<a href="#">Search Domain Name</a>
					</li>
					<li>
						<a href="#">Renew Domain Name</a>
					</li>
					<li>
						<a href="#">Transfer Domain Name</a>
					</li>
					<li>
						<a href="#">Domain Name Features</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Web Forwarding</a>
			</li>
			<li class="last">
				<a href="#">Transfer Your Domain Name</a>
			</li>
		</ul>
	</li>
	<li>
		<%= link_to "WEB HOSTING", packages_url %>
	</li>
	<li>
		<%= link_to "EMAIL", emailplans_url %>
	</li>
	<li>
		<%= link_to "SSL CERTIFICATES", sslplans_url %>
	</li>
	<li>
		<%= link_to "ONLINE MARKETING", marketingplans_url %>
	</li>
	<li class="last">
		<%= link_to "CMS", ecommerceplans_url %>
	</li>
</ul>