<div class="container_12">
	<div class="main-inside">
		<div class="row-1">
			<div class="box-shadow">
				<div class="top-box">
					<strong>Choose right hosting plan for your needs!</strong><em>Get Website Hosting!</em>
				</div>
				<div class="list-plan">
					<article class="first">
						<div class="price"></div>
						<ul>
							<li class="bg">
								Disk space
							</li>
							<li>
								Monthly data transfer
							</li>
							<li class="bg">
								FTP accounts
							</li>
							<li>
								Emailboxes
							</li>
							<li class="bg">
								Free domains
							</li>
							<li class="last-1">
								24/7 Support
							</li>
						</ul>
					</article>
					<article class="hover plan-1">
						<div class="price">
							<strong>Basic</strong><span>$ 4.45 p/m</span>
						</div>
						<ul>
							<li class="bg">
								300 GB
							</li>
							<li>
								3000 GB
							</li>
							<li class="bg">
								25
							</li>
							<li>
								1000
							</li>
							<li class="bg">
								1*
							</li>
							<li class="last"></li>
						</ul>
						<div class="top-part"></div>
					</article>
					<article class="hover plan-2">
						<div class="price">
							<strong>Top</strong><span>$ 6.45 p/m</span>
						</div>
						<ul>
							<li class="bg">
								300 GB
							</li>
							<li>
								3000 GB
							</li>
							<li class="bg">
								25
							</li>
							<li>
								1000
							</li>
							<li class="bg">
								1*
							</li>
							<li class="last"></li>
						</ul>
						<div class="top-part"></div>
					</article>
					<article class="hover  plan-3">
						<div class="price">
							<strong>Pro</strong><span>$ 9.45 p/m</span>
						</div>
						<ul>
							<li class="bg">
								500 GB
							</li>
							<li>
								5000 GB
							</li>
							<li class="bg">
								55
							</li>
							<li>
								2000
							</li>
							<li class="bg">
								1*
							</li>
							<li class="last"></li>
						</ul>
						<div class="top-part"></div>
						<div class="top-center"></div>
					</article>
					<article class="hover last  plan-4">
						<div class="price">
							<strong>Master</strong><span>$ 12.45 p/m</span>
						</div>
						<ul>
							<li class="bg">
								500 GB
							</li>
							<li>
								5000 GB
							</li>
							<li class="bg">
								55
							</li>
							<li>
								2000
							</li>
							<li class="bg">
								1*
							</li>
							<li class="last"></li>
						</ul>
						<div class="btn"></div>
						<div class="top-part"></div>
					</article>
					<div class="clear"></div>
					<div class="checkbox">
						<div class="text-2">
							Choose your plan
						</div>
						<form id="form" method="POST">
							<div class="radio-btn plan-1">
								<input type="radio" name="#" >
							</div>
							<div class="radio-btn plan-2">
								<input type="radio" name="#" >
							</div>
							<div class="radio-btn plan-3">
								<input type="radio" name="#" >
							</div>
							<div class="radio-btn plan-4">
								<input type="radio" name="#" >
							</div>
						</form>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-2">
		<div class="wrapper relative">
			<article class="grid_3">
				<h3 class="bg-1">Domains</h3>
				<p class="line-h">
					Lorem ipsum dolor sit amet, consec
					tetuer adipiscing elit, sed diam nnummy nibh euismod tincidunt ut la.
				</p>
				<div>
					<a href="#" class="button"><strong><em>More</em></strong></a>
				</div>
			</article>
			<article class="grid_3">
				<h3 class="bg-2">Hosting</h3>
				<p class="line-h">
					Lorem ipsum dolor sit amet, consec
					tetuer adipiscing elit, sed diam nnummy nibh euismod tincidunt ut la.
				</p>
				<a href="#" class="button"><strong><em>More</em></strong></a>
			</article>
			<article class="grid_3">
				<h3 class="bg-3">Build</h3>
				<p class="line-h">
					Lorem ipsum dolor sit amet, consec
					tetuer adipiscing elit, sed diam nnummy nibh euismod tincidunt ut la.
				</p>
				<a href="#" class="button"><strong><em>More</em></strong></a>
			</article>
			<article class="grid_3">
				<h3 class="bg-4">Support</h3>
				<p class="line-h">
					Lorem ipsum dolor sit amet, consec
					tetuer adipiscing elit, sed diam nnummy nibh euismod tincidunt ut la.
				</p>
				<a href="#" class="button"><strong><em>More</em></strong></a>
			</article>
		</div>
	</div>
	<div class="row-3">
		<div class="wrapper relative">
			<ul class="list-1">
				<li>
					<a href="#"><span class="bg-1">Detect Expiring Domains</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-2">Drop Catch Service</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-3">One Year Registration</span></a>
				</li>
			</ul>
			<ul class="list-2">
				<li>
					<a href="#"><span class="bg-1">cPanel Account Setup</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-2">Dedicated IP Address </span></a>
				</li>
				<li>
					<a href="#"><span class="bg-3">Wordpress Installation</span></a>
				</li>
			</ul>
			<ul class="list-2">
				<li>
					<a href="#"><span class="bg-4">Premium Themes</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-5">Free Instant Web Page</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-6">WHOIS Business Listing</span></a>
				</li>
			</ul>
			<ul class="list-2">
				<li>
					<a href="#"><span class="bg-7">Free Local Directory List</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-8">24/7 Customer Support</span></a>
				</li>
				<li>
					<a href="#"><span class="bg-9">Expired Domain Names</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-4">
		<div class="wrapper relative">
			<article class="grid_6">
				<div id="slider-1">
					<h3>Testimonials</h3>
					<div class="bg-slider">
						<div id="nav"></div>
						<div id="slider">
							<section class="box">
								<p class="txt-1">
									&quot; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &quot;
								</p>
								<div class="box-bottom">
									<p class="txt-2">
										<strong>Sarah McQuay</strong><span>USA</span>
									</p>
									<figure><img src="images/page1-img17.gif " alt="" />
									</figure>
								</div>
							</section>
							<section class="box">
								<p class="txt-1">
									&quot; Maecenas tristique orci ac sem uis ultricies pharetra magna. Donec
									accumsan malesuada orci.onec sit amet eros sociis natoque. &quot;
								</p>
								<div class="box-bottom">
									<p class="txt-2">
										<strong>Alan Smith</strong><span>USA</span>
									</p>
									<figure><img src="images/page1-img17.gif " alt="" />
									</figure>
								</div>
							</section>
							<section class="box">
								<p class="txt-1">
									&quot; Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Cuis natoque penatibus. Et magnis dis parturient. &quot;
								</p>
								<div class="box-bottom">
									<p class="txt-2">
										<strong>Sam Kromstain</strong><span>USA</span>
									</p>
									<figure><img src="images/page1-img17.gif" alt="" />
									</figure>
								</div>
							</section>
						</div>
					</div>
				</div>
			</article>
			<article class="grid_5 prefix_1">
				<div class="slider-2">
					<h3>Our Clients</h3>
					<div class="bg-slider-top">
						<div id="nav-2"></div>
						<div id="slider-2">
							<section>
								<figure class="fleft"><img src="<%= asset_path 'page1-img18.gif' %>" alt="" />
								</figure>
								<figure class="fleft"><img src="<%= asset_path 'page1-img19.gif' %>" alt="" />
								</figure>
								<div class="clear"></div>
							</section>
							<section>
								<figure class="fleft"><img src="<%= asset_path 'page1-img18.gif' %>" alt="" />
								</figure>
								<figure class="fleft"><img src="<%= asset_path 'page1-img19.gif' %>" alt="" />
								</figure>
								<div class="clear"></div>
							</section>
							<section>
								<figure class="fleft"><img src="<%= asset_path 'page1-img18.gif' %>" alt="" />
								</figure>
								<figure class="fleft"><img src="<%= asset_path 'page1-img19.gif' %>" alt="" />
								</figure>
								<div class="clear"></div>
							</section>
						</div>
					</div>
				</div>
				<a href="#" class="button"><strong><em>Full Clients List</em></strong></a>
			</article>
		</div>
	</div>
</div>
